@use "grid-base" as gridBase;

.header-grid {
    // @include gridBase.grid-container_grid-area-fw;
    background-color: var(--black-2);
    display: grid;
    @include gridBase.grid-container_grid(0.5fr, 4fr, 0.5fr);
    // grid-template-columns: repeat(3, 1fr);
    height: 100%
}

.header-grid > * {
    @include gridBase.grid-container_grid-area;
    // grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header-nav-mobile_close {
    z-index: 22;
    position: relative;
    @include gridBase.grid-container_grid-area-fw;
    grid-row: 3 / 4;
    display: grid;
    @include gridBase.grid-container_grid(0.5fr, 4fr, 0.5fr);
    background: var(--white-1);
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.header-nav-mobile_open {
    transform: translateX(0%);
}

.header-nav-mobile_menu{
    @include gridBase.grid-container_grid-area;
    // background: green;
}

.header-nav-mobile_menu::after {
    z-index: 19;
    content: '';
    background-color: rgba(0, 0, 0, 0.5); // Initial background opacity
    backdrop-filter: blur(0.375rem);
    transform: translate(0%, 100%);
    width: 100%;
    height: 100vh;
    bottom: 0;
    right: 0;
    position: absolute;
}

@media (min-width: 1024px) {
    .header-nav-mobile_close, .header-nav-mobile_open {
        display: none;
    }
}

// Media query for larger screens
@media (min-width: 1568px) {
    .header-grid, .header-nav-mobile {
        @include gridBase.grid-container_grid(1fr, var(--max-column-width), 1fr); // Adjusted column widths for larger screens
    }
}