@use "grid-base" as gridBase;

@mixin hero-grid_columns-primary($start, $center, $end) {
  grid-template-columns: 
    [full-width-start] 
      minmax(var(--min-column-width), $start)
    [hero-grid_area-1-start hero-grid_area-2-start]
      minmax(var(--min-column-width), $center)
    [hero-grid_area-2-end hero-grid_area-1-end] 
      minmax(var(--min-column-width), $end) 
    [full-width-end]
  ;
}

@mixin hero-grid_columns-secondary {
  grid-template-columns: 
    [full-width-start hero-grid_area-2-start] 
      minmax(var(--min-column-width), 0.5fr) 
    [hero-grid_area-1-start] 
      minmax(var(--min-column-width), 4fr) 
    [hero-grid_area-1-end] 
      minmax(var(--min-column-width), 0.5fr) 
    [hero-grid_area-2-end full-width-end]
  ;
}

@mixin hero-grid_rows {
  grid-template-rows: 
    [full-width-start] 
      auto 
    [hero-grid_area-1-start hero-grid_area-2-start] 
      minmax(var(--min-column-width), 4fr)
    [hero-grid_area-2-end hero-grid_area-1-end] 
      auto 
    [full-width-end]
  ;
}

.hero-grid {
  display: grid;
}

.hero-grid_area-1 {
  grid-area: hero-grid_area-1;
  z-index: 2;
}

.hero-grid_area-2 {
  grid-area: hero-grid_area-2;
  z-index: 1;
}

@media (max-width: 639px) {
  .hero-grid {
    @include hero-grid_columns-secondary;
    @include hero-grid_rows;
  }
}

@media (min-width: 640px) and (max-width: 1567px) {
  .hero-grid {
    @include hero-grid_columns-primary(1fr, 8fr, 1fr);
  }
}

@media (min-width: 1568px) {
  .hero-grid {
    @include hero-grid_columns-primary(1fr, var(--max-column-width), 1fr);
  }
}