@use "/src/styles/layout/grid.scss" as grid;

.category-product-grid {
    @include grid.grid-container_grid-area;
    display: grid;
    gap: var(--gap-1);
    @include grid.grid-template-columns_auto(393.5px, 2, var(--gap-1));
}

@media (min-width: 1024px) {
    .category-product-grid {
        gap: var(--gap-4);
        @include grid.grid-template-columns_auto(300px, 2, var(--gap-4));
    }
}