body {
    background: var(--bg_white-1);
}

#header {
    // background: var(--bg_black-2);
    background: transparent;
}

#footer {
    background: var(--bg_black-2);
}

#hero {
    background: var(--bg_black-2);
}

#category-header {
    background: var(--bg_black-2);
}

.v1-product-banner-grid {
    background: var(--bg_orange-1);
}